{;;  :deps {local/deps {:local/root "."}}

 :min-bb-version "1.3.0"

 :paths ["bb" "dev" "src"]

 :tasks
 {:requires ([tasks])

  :init (do
          (def foo "bar")
          (def bar "baz"))

  print-foo {:task (shell "echo" foo)}

  squint:compile
  {:doc "Compile .cljs/.cljc files"
   :task (shell "npx squint compile")}

  cp
  {:doc "Prints the classpath"
   :task (tasks/print-classpath)}}}
